{% extends "aotw/layout.html" %}
{% load static %}

{% block title %} History | AOTW {% endblock %}

{% block body %}


<div class="container">
    <div class="row">        
        <h4>AOTW History</h4>
        <p class="flow-text">{{ aotws.count }} albums have been reviewed by the AOTW community so far!</p>       
    <div class="row">
</div>


<div class="row">
{% for aotw in page_obj %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
            <a href="{% url 'album' aotw.album.idAlbum %}"><img src="{{ aotw.album.strAlbumThumb }}"></a>
        </div>
        <div class="card-content center">
          <a href="{% url 'album' aotw.album.idAlbum %}"><h4>{{ aotw.album.strAlbum }}</h4></a>
          
          {% if album.idArtist %}
          <a href="{% url 'artist'  aotw.album.idArtist %}"><h5>by {{ aotw.album.strArtist }}</h5></a>
          {% else %}
          <h5>by {{ aotw.album.strArtist }}</h5>
          {% endif %}

          <p class="flow-text">Score: <span class="score-span">{{ aotw.album.score }} </span></p>
        </div>
    
        <div class="card-action center">
           <a href="{% url 'album' aotw.album.idAlbum %}">View Details >> </a>  
        </div>    
      </div>
    </div>

{% empty %}

    <p>No albums have been reviewed yet!</p>

{% endfor %}
</div>

{% if page_obj %}
<section id="pagination-links" class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3 center">
      <span class="step-links">
        <ul class="pagination text-white">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a><li class="waves-effect"></li>
          {% endif %}
    
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.paginator.count < 9 %}
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
    
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</section>
{% endif %}
</div>
{% endblock %}