{% extends "aotw/layout.html" %}
{% load static %}
{% load avatar_tags %}
{% block title %} Album of the Week {% endblock %}

{% block body %}

{% if leader == True %}
<section id="admin-banner">
    <div class="col s12 center purple lighten-2">
        <span class="flow-text">You're logged in as group leader. <a href="{% url 'adminpage' %}"> Visit the ADMIN page.</a></span>
    </div>
</section>
{% endif %}

{% if not user.is_authenticated %}
<section id="splash" class="section row">
    <div class="col s12 m10 l6 center offset-m1">
        <div class="home-img container">
            <img id="record" src="{% static 'aotw/media/album-circle.gif' %}">
        </div>
    </div>
    <div class="col s12 m10 l5 center offset-m1">
        <div class="splash-text">
            <img id="aotw-heading-not-logged-in" src="{% static '/aotw/media/AOTW-expanded.png' %}" alt="Album of the Week Title">        
            <p class="flow-text">Share and review music with friends.</p>
            <a href="#aotw_home"><button id="spinning-btn" class="btn waves-effect waves-light">What's Spinning?</button></a>
        </div>
    </div>
</section>
{% endif %}

<section id="aotw_home" class="container">
    {% if user.is_authenticated %}
    <div class="row center">
        <img class="responsive-img center hide-on-large-only" id="aotw-heading" src="{% static '/aotw/media/AOTW-expanded.png' %}" alt="Album of the Week Title">
        <img class="responsive-img center hide-on-med-and-down" id="aotw-heading" src="{% static '/aotw/media/aotw-expanded-lrg-screen.png' %}" alt="Album of the Week Title">

    </div>

    {% endif %}
    
    {% if aotw %}
    <div class="row center">
        {% if user.is_authenticated %}        
        <div class="col s12 m6 l6 left">
            <img class="aotw-art responsive-img center" src="{{ aotw.album.strAlbumThumb }}" alt="{{ aotw.album }} album cover">
        </div>
        {% else %}
        <div class="col s3 m3 l2">            
            <img class="vertical-logo responsive-img" src="{% static 'aotw/media/AOTW-logo-noguitar - vertical.png' %}">
        </div>
        <div class="col s9 m9 l4">
            <a href="{% url 'album' aotw.album.idAlbum %}"><img class="aotw-art responsive-img" src="{{ aotw.album.strAlbumThumb }}" alt="{{ aotw.album }} album cover"></a>
        </div>
        {% endif %}
        <div class="col s12 m6 l6 right">
            <h3><a href="{% url 'album' aotw.album.idAlbum %}">{{ aotw.album.strAlbum }}</a></h3>
            {% if aotw.album.idArtist %}
            <h5>by <a href="{% url 'artist' aotw.album.idArtist %}"> {{ aotw.album.strArtist }}</a></h5>
            {% else %}
            <h5>by {{ aotw.album.strArtist }}</h5>
            {% endif %}
            <div class="row">
                <div class="col s12 m12 l12 ">    
                    <p class="flow-text">rated    <span class="score-review center">  {{ aotw.album.score }}</span></p>
                    <p class="sub-title">on -5 to +5 scale</p>                    
                </div>
                <div class="col l12 hide-on-med-and-down">
                    <br>
                    <p class="flow-text center">Posted on {{ aotw.aotw_date }} </p></a>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <p class="flow-text">There is not an active AOTW. Nominate an album to be reviewed.</p>
    {% endif %}
</section>

{% if user.is_authenticated %}
{% if can_review == True %}
<section id="add_review" class="section center">
    <div class="center">
        <h4>Add New Review</h4>
    </div>
    <div class="row container">
      <form action="{% url 'index' %}" method="post" class="col s12">
        {% csrf_token %}
        <input type="select" name="album" id="album" value="{{ aotw.album.id }}" style="visibility: hidden;">
        <div class="row">
            <div class="input-field col s12 m8 l6 offset-m2 offset-l3">                
                <p class="range-field">
                    <input type="range" name="rating" id="rating" min="-5" max="5" />
                    <label for="rating"><h4>Rate It!</h4></label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="review_text">What did you think about {{ aotw.album }}?</label> 
                {{ form.review_text }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="top_tracks">Top Tracks</label>
                {{ form.top_tracks }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">                
                <input type="submit" class="btn" name="review" value="Publish Review">
            </div>
        </div>

      </form>
    </div>
    
</section>
{% endif %}

<section id="aotw_reviews" class="section container">
    <div class="center">
        <h4>Community Reviews</h4>
        <a href="{% url 'album' aotw.album.idAlbum %}"><h5><em>{{ aotw.album }}</em> </h5></a>
    </div>
    {% if reviews %}
    <div class="row">
        {% for review in reviews %}
        {% if review.user == user %}
        <div class="user_review col s12">
        {% else %}
        <div class="other_review col s12">
        {% endif %}
        <div class="row">
            <div class="col s3 l2 center">
                {% avatar review.user class="circle center responsive-img user_avatar" %}
                <p class="flow-text">rated <span class="score-review center">{{ review.rating }}</span></p>
                <p class="sub-title">on -5 to +5 scale</p>
            </div>
            <div class="col s9 l10 left">
                <p class="flow-text"><a href="{% url 'profile' review.user.username %}">{{ review.user }}</a> says ... </p>
                <p class="flow-text">{{ review.review_text }} </p>
                <p class="flow-text"><em>Top Tracks: {{ review.top_tracks }}</p></em>
            </div>       
        </div>
        </div>    
        {% endfor %}
    </div>
    {% else %}
        <p class="flow-text">Be the first to <a class="score-span" href="#add_review">review </a>this album!</p>
    {% endif %}
    </div>


{% else %}
<section id="aotw_reviews" class="section container">
    <div class="center">
        <h4>Community Reviews</h4>
    </div>
    <div class="center">
        <p class="flow-text"> What are the people saying!? <a href="{% url 'login' %}">Login</a> to read reviews and add your own. </p>
    </div>
</section>

{% endif %}
</section>

<section id="past-aotw" class="section">
    <div class="center">
        <h4>Past AOTWs</h4>
    </div>
    <div class="carousel">
        {% for pastnom in pastnoms %}
        <a class="carousel-item" href="{% url 'album' pastnom.album.idAlbum %}"><img src="{{ pastnom.album.strAlbumThumb }}"></a>        
        {% endfor %}
    </div>
    <div class="height">    
        <a href="{% url 'history' %}"><p class="flow-text right">View All >> </p></a>
    </div>
</section>

<section id="upcoming-aotw" class="section container">
    <div class="center">
        <h4>Upcoming Albums</h4>
    </div>
    
    {% for nom in nominations|slice:":3" %}
        <a href="{% url 'album' nom.album.idAlbum %}"><p class="flow-text">{{ nom.album }}</p></a>
    {% endfor %}
    <div class="height">
        {% if user.is_authenticated %}
        <a href="{% url 'nominations' %}"><p class="flow-text right">View All >> </p></a>
        {% else %}
        <a href="{% url 'login' %}"><p class="flow-text right">View All >> </p></a>
        {% endif %}
    </div>
</section>

{% endblock %}