{% extends "aotw/layout.html" %}
{% load static %}

{% block title %} Upcoming | AOTW {% endblock %}

{% block body %}


<div class="container">
    <div class="row">        
        <h4>Upcoming</h4>
        <p class="flow-text">{{ nominations.count }} albums have been nominated for review by the AOTW community.</p>       
    <div class="row">
</div>

<div class="container">
    <div class="row">
{% for nom in page_obj %}
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
            <a href="{% url 'album' nom.album.idAlbum %}"><img src="{{ nom.album.strAlbumThumb }}"></a>
        </div>
        <div class="card-content center">
          <a href="{% url 'album' nom.album.idAlbum %}"><h4>{{ nom.album.strAlbum }}</h4></a>
          
          {% if nom.album.idArtist %}
          <a href="{% url 'artist' nom.album.idArtist %}"><h5>by {{ nom.album.strArtist }}</h5></a>
          {% else %}
          <h5>by {{ nom.album.strArtist }}</h5>
          {% endif %}

          <p>Nominated by <a href="{% url 'profile' nom.user.username %}">{{ nom.user }} </a> on {{ nom.created_on }}</p>
        </div>
        
        
          {% if nom.aotw == False and nom.user == user %}
          <div class="card-action center">
            <form action="{% url 'nominations'%}" method="POST">
            {% csrf_token %}
                <button type="submit" class="btn" name="remove" value="{{ nom.album.id }}">Remove</button>        
            </form>
          </div>
          {% endif %}
        
      </div>
    </div>

{% empty %}

    <p>There are no pending nominations.</p>

{% endfor %}
</div>
</div>

{% if page_obj %}
<section id="pagination-links" class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3 center">
      <span class="step-links">
        <ul class="pagination text-white">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a><li class="waves-effect"></li>
          {% endif %}
    
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.paginator.count < 9 %}
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
    
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}