{% extends "aotw/layout.html" %}
{% load static %}
{% load avatar_tags %}

{% block title %} {{ user.username }} Profile | AOTW {% endblock %}


{% block body %}

{% if leader == True %}
<section id="admin-banner">
    <div class="col s12 center purple lighten-2">
        <span class="flow-text">You're logged in as group leader. <a href="{% url 'adminpage' %}"> Visit the ADMIN page.</a></span>
    </div>
</section>
{% endif %}

<section id="profile-info" class="section">
<div class="container">
    <div class="row">
        <div class="col s12 l4 offset-l2">
            <div class="row ">
                <div class="col s6 center">
                    {% avatar user class="circle responsive-img user_avatar" %}
                    <h3 class="profile-username">{{ user.username }}</h3>                    
                </div>
                <div class="col s6 l12">
                    {% if user == current_user %}
                    <a href="{% url 'avatar_change' %}"><p class="flow-text">Change Profile Pic</a></p>
                    <a href="{% url 'logout' %}"><p class="flow-text">Log Out</a></p>
                    {% endif %}
                </div>                
            </div>
        </div>
        <div class="col s12 l4 bio">
            <p class="flow-text"><a href="#profile-reviews">Reviews:</a> {{ reviews.count }} </p>
            <p class="flow-text"><a href="#profile-nominations">Nominations:</a> {{ nominations.count }} </p>
            <p class="flow-text">Avg. Rating: {{ rating }} </p>
        </div>
    </div>   
    
</div>
</section>


<section id="profile-reviews" class="section">
    <div class="container">
        <div class="row">
            <h5>User Reviews</h5>
            {% for review in reviews %}
            {% if review.user == current_user %}
                <div class="user_review">
                {% else %}
                <div class="other_review">
                {% endif %}
                    <div class="col s6 m4 l4">
                        <img class="responsive-img" src="{{ review.album.strAlbumThumb }}">
                    </div>
                    <div class="col s6 m5 l5">                
                    {% if review.album.idArtist %}
                        <h3 class=""><a href="{% url 'album' review.album.idAlbum %}">{{ review.album.strAlbum|upper }}</a></h3>
                        <h5><em><a href="{% url 'artist' review.album.idArtist %}">BY {{ review.album.strArtist|upper }}</em></a></h5>
                    {% else %}
                        <h3 class=""><a href="{% url 'album' review.album.idAlbum %}">{{ review.album.strAlbum|upper }}</a></h3>
                        <h5><em>BY {{ review.album.strArtist|upper }}</em></h5>
                    {% endif %}
                    </div>   
                    <div class="col s6 m3 l3">
                        
                        <p class="rating-box right">rated <span class="score-review big-score center">{{ review.rating }}</span></p>  
                        <span class="sub-title right">on -5 to +5 scale</span>
                               
                    </div>            
                

            <div class="row">
                <div class="col s12 m12 l12">
                    <p class="flow-text">{{ review.review_text }} </p>
                    <em><p class="flow-text">Top Tracks: {{ review.top_tracks }}</p></em>
                </div>
            </div> 
            </div>                    
                   
            {% empty %}
            <div class ="row">
                <div class="col s12 m12 l12">
                    <p class="flow-text">No reviews :( </p>
                </div>
            </div>                
         {% endfor %}         
        </div>            
    </div>
</section>
    

<section id="profile-nominations" class="section">
    <div class="container">
        <div class="row">
            <h5>User Nominations</h5>

            {% for nom in nominations %}
            <div class="col s6 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="{% url 'album' nom.album.idAlbum %}"><img src="{{ nom.album.strAlbumThumb }}"></a>
                    </div>
                    <div class="card-content center">
                        <a href="{% url 'album' nom.album.idAlbum %}"><h4>{{ nom.album.strAlbum }}</h4></a>          
                        {% if nom.album.idArtist %}
                        <a href="{% url 'artist' nom.album.idArtist %}"><h5>by {{ nom.album.strArtist }}</h5></a>
                    {% else %}
                    <h5>by {{ nom.album.strArtist }}</h5>
                    {% endif %}
                    <p>Nominated on {{ nom.created_on }}</p>
                    </div>       
        
                {% if nom.aotw == False and nom.user == current.user %}
                <div class="card-action center">
                    <form action="{% url 'nominations'%}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn" name="remove" value="{{ nom.album.id }}">Remove</button>        
                    </form>
                </div>
                {% endif %}        
            </div>
        </div>
{% empty %}
    <p>There are no pending nominations.</p>
{% endfor %}        
    </div>
</section>




{% endblock %}