/* universal */


body {
    font-size: 16px;
    background-color: #020304;
    background-image: url('./media/lubo-minar-qRGuuVOzsTc-unsplash.jpg');
    background-size: contain;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;    
}

#search-results-page {
    background-image: url('./media/search_results_wengang-zhai-CK3j0e9oV18-unsplash.jpg');
    background-size: contain;
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn{
    background-color: #ff85ea;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn:hover, .btn:focus {
    background-color: #f752e0 ;
}

a {
    color:whitesmoke;
}

nav ul a:hover {
    text-transform: uppercase;
}

.hover-btn:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

h5 {
    padding: 0 0;
}

p {
    margin: 0 auto;
}

.spacer {
    height: 100px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
    border-bottom: none;
    color: #ff85ea;
}

.input-field>label {
    color: #ff85ea;
}

select {
    background-color: white;
    color: #ff85ea;
}
/* nav bar */
nav img {
    height:40px;
    margin-top:10px;
}

nav {
    background-color: #090e13c0;
    height: 60px;
    color: rgb(253, 255, 247);
}

nav i {
    color:#ffd6f8;

}

#nav-mobile {
    padding-top: 10px;
}

.sidenav {
    background-color: #2e0f30;
    color: rgb(253, 255, 247);
}

.sidenav {
    line-height: 100px;    
}

.sidenav li>a {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

/*splash*/
#splash {
    height: 100vh;
    padding-top: 20px;
}

#record {
    margin-top: 30px;
    height: 40vh;
}

.splash-text {
    margin-top: 30px;
    font-style: italic;
}

#aotw-heading {
    width: 80vw;
}

/* home - past albums  */

/* bug in opacity styling when items < display number (default =5)

.carousel-item {
  opacity: 1 !important;
}
*/

/* search  */

#search-submit {
    margin-top: 0px;
}
#search-bar {
    margin: 50px;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #090e13bd;

}

#search-bar h3 {
    color: #ff85ea;
    font-weight: 700;
}
.album-btns-small {
    margin-top: 20px;
    margin-bottom:10px;
    display: flex;
    justify-content: space-evenly;
}

.search {
    padding-top: 30px;    
}

.album-result {
    margin-top: 80px;
}

.album-art {
    height: 200px;
}

.album-art img {
    height: 200px;    
}

.album-art img:hover{
    height: 210px;    
}

.album-info {
    padding-top:30px;
}

.album-artist {
    font-weight: 300;
    font-style: italic;
}

.album-title {
    font-weight: 700;
    font-size: 1.5em;
}

#no-result {
    background-image: url("./media/background_gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.album-btns-small a.hover{
    text-transform: none;
}

/* Album View */

.album-cover-big img {
    height: 300px;  
    margin-top: 50px;  
}

#album-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Artist View */
#band-logo {
    max-width: 80vw;    
}

#band-image {
    max-width: 70vw;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .album-result {
        margin-top: 50px;
    }

    .album-cover-big img {
        height: 400px;
        margin-top: 0px; 
    }
    
    #album-header {
        margin-top: 50px;
        margin-bottom: 50px;
    }   

    #band-image {
        max-width: 40vw;
    }
    #aotw-heading {
        width: 40vw;
    }
    
    #record {
        height: 60vh;
    }
    .splash-text {
        margin-top: 60px;
    }
}