asgiref==3.2.10
Django==3.1
psycopg2==2.8.5
pytz==2020.1
sqlparse==0.3.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
requests==2.24.0
urllib3==1.25.10
regex==2020.7.14
titlecase==1.1.1
Pillow==7.2.0
django-appconf==1.0.4
django-avatar==5.0.0
six==1.15.0
dj-database-url==0.5.0
gunicorn==20.0.4
whitenoise==5.2.0
django-heroku==0.3.1