{% extends "aotw/layout.html" %}
{% load static %}

{% block body %}
<div class="container">

<h3>Welcome, AOTW Admin!</h3>
    {% if aotw %}
    <section id="current" class="row">
        <h5>Album of the Week</h5>
        <p>{{ aotw.album }}</p>
        <p>{{ aotw.aotw_date }}</p>

    </section>
    {% endif %}

    <section id="upcoming" class="row">
        <ul>
        {% for nom in nominations %}
            <li>{{ nom.album }}
               <br> Nominated by {{ nom.user|title }} on {{ nom.created_on }}
               <br> 
               <form action="" method="POST">
                   {% csrf_token %}
                   <button class="btn" type="submit" name="promote" value="{{ nom.album.id }}">Promote to AOTW</button>
                </form>
            </li>    
        {% empty %}
         <li>There are no pending nominations.</li>
        {% endfor %}
        </ul>
    </section>

    <section id="past" class="row">
        <ul>
            <h5>Past AOTW's</h5>
            {% for pastnom in pastnoms %}
                <li>{{ pastnom.album }}
                </li>    
            {% empty %}
             <li>There are no past AOTW.</li>
            {% endfor %}
            </ul>
    </section>

    <section id="custom-nom">
        <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-field col s12">
                <label for="id_strAlbum">Album Title</label>
                {{ form.strAlbum }}
            </div>

            <div class="input-field col s12">
                <label for="id_strArtist">Artist</label>
                {{ form.strArtist }}
            </div>
            
            <div class="input-field col s12">
                <label class="active" for="id_strDescriptionEN">Album Description</label>
                {{ form.strDescriptionEN }}
            </div>

            <div class="input-field col s12">
                <label for="id_strAlbumThumb">Album Image URL</label>
                {{ form.strAlbumThumb }}
            </div>

            <div class="input-field col s12">
                <label for="id_intYearReleased">Release Year</label>
                {{ form.intYearReleased }}
            </div>
            
            <div class="input-field col s12">
                <label for="id_strLabel">Label</label>
                {{ form.strLabel}}
            </div>

            <div class="input-field col s12">
                <label for="strGenre">Genre</label>
                {{ form.strGenre}}
            </div>

            <div class="center">            
                <input id="custom-nom-submit" type="submit" class="btn" value="Save Album">       
            </div>              
        </form>
    </div>
    </section>

</div>

{% endblock %}