{% extends "aotw/layout.html" %}
{% load static %}

{% block body %}


<section id="album-header" class="row container center">
    <div class="col s12 m6 l6 center">
        <h2>{{ a.strAlbum }}</h2>
        <h4 class="album-artist">by 
            
            {% if a.artistID %}
            <a href="{% url 'artist' a.idArtist %}">{{ a.strArtist }}</a>
            {% else %}
            {{ a.strArtist}}
            {% endif %}
        
        </h4>
    </div>

    <div class="col s12 m6 l6 center">
        <div class="album-cover-big border">
        {% if a.strAlbumThumb %}
            <a href="{% url 'album' a.idAlbum %}"><img class="z-depth-2" src="{{ a.strAlbumThumb }}" alt="placeholder image for album cover"></a>
        {% else %}
            <a href="{% url 'album' a.idAlbum %}"><img class="z-depth-2" src="https://i.ibb.co/VVFSqNk/music-album-icon-2.jpg" alt="album-cover"></a>
        {% endif %}
        </div>
    </div>
</section>

<section id="album-info-section" class="row container center">
    <div class="col s6">
        <ul class="flow-text">
            <li>Year Released: {{ a.intYearReleased }}</li>
            <li>Label: {{ a.strLabel }}</li>
            {% if a.strGenre %}
            <li> Genre: {{ a.strGenre }}</li>
            {% endif %}
        </ul>
    </div>

    <div class="col s6 m6 l6">
        <br>
        {% if nomination %}
            {% if nomination.aotw == True %}
            <p> Past AOTW </p>
            {% else %}

            <p> Nominated by {{ nomination.user.username|title }} on {{ nomination.created_on }} </p>
            
            {% endif %}
        {% else %}
        <form action="{% url 'nominations' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" name="newnom" value="{{ a.idAlbum }}"><i class="material-icons purple-text">stars</i>Nominate</button>        
        </form>
        
        {% endif %}
    </div>
</section>

<section class="row container center" id="album-description-section">
    <div class="col s12">
        <p class="flow-text">{{ a.strDescriptionEN }}</p>
    </div>
</section>






{% endblock %}