{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'aotw/styles.css' %}"> 
    <title>AOTW</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home'%}" class="brand-logo"><img src="{% static '/aotw/media/aotw-logo-noguitar.png' %}" alt="AOTW logo"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          {% if user.is_authenticated %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">          
            <li><a href="{% url 'profile' user.username %}">My Profile</a></li>
            <li><a href="{% url 'nominations' %}">Nominations</a></li>
            <li><a href="{% url 'search'%}"><i class="material-icons right">search</i>Search</a></li> 
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
          {% else %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'search'%}"><i class="material-icons right">search</i>Search</a></li>                  
          </ul>
          {% endif %}
        </div>
      </nav>

      {% if user.is_authenticated %}
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'profile' user.username %}">My Profile</a></li>
            <li><a href="{% url 'nominations' %}">Nominations</a></li>
            <li><a href="{% url 'search'%}"><i class="material-icons right">search</i>Search</a></li> 
            <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      {% else %}
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'search'%}"><i class="material-icons left">search</i>Search</a></li>              
      </ul>
      {% endif %}
    </header>
    
    {% block body %}

    {% endblock %}
   
    <script src="{% static 'aotw/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

