{% extends "aotw/layout.html" %}
{% load static %}

{% block body %}

{% for nom in nominations %}

    <h2>{{ nom.album }}</h2>
    {% if nom.aotw == False and nom.user == user %}
        <form action="{% url 'nominations'%}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" name="remove" value="{{ nom.album.id }}">Remove</button>        
        </form>
        
        
    {% endif %}

{% empty %}

    <p>There are no pending nominations.</p>

{% endfor %}

{% endblock %}