{% extends "aotw/layout.html" %}
{% load static %}

{% block body %}

<section id="search-bar">
  <div class="container page-heading">
    <h3 class="center">Search for an Album</h3>
    <p class="center flow-text">Search the database for access to over 1,000,000 albums!</p>
  </div>
  <div class="container center row search">

    <form id="search-query" action="{% url 'search' %}" method="POST">
      {% csrf_token %}
      <div class="input-field col s6 m4 l4">
        <select class="browser-default" name="search-option" required>
          <option value="" disabled selected>Search by...</option>
          <option value="1">Artist</option>
          <option value="2">Album Title</option>
        </select>
      </div>
          
      <div class="input-field col s6 m6 l6">            
        <label for="search"><i class="material-icons left">search</i></label>
        <input id="search" name="search" type="search" required>            
      </div>  

      <div class="input-field col s6 offset-s3 m2 l2">            
        <input id="search-submit" type="submit" class="btn" value="go">       
      </div>  
    </form>
  </div>
</section>

<script src="{% static 'aotw/search.js' %}"></script>
{% endblock %}