{% extends "aotw/layout.html" %}
{% load static %}

{% block body %}


<div class="row container">
  <div class="col s12 center">
    {% if results == 1 %}    
    <h5 class="purple lighten-2">Your search returned {{ results }} result.</h5>
    {% elif results > 1 %}    
    <h5 class="purple lighten-2">Your search returned {{ results }} results.</h5>    
    {% endif %}
  </div>
</div>
</section>


<section id="search-results" class="row">

{% for album in page_obj %}

<div class="col s12 m6 l4 album-result center border">
  <div class="album-art center">

    {% if album.strAlbumThumb %}
    <a href="{% url 'album' album.idAlbum %}"><img class="z-depth-2" src="{{ album.strAlbumThumb }}" alt="placeholder image for album cover"></a>
    {% else %}
    <a href="{% url 'album' album.idAlbum %}"><img class="z-depth-2" src="https://i.ibb.co/VVFSqNk/music-album-icon-2.jpg" alt="album-cover"></a>
    {% endif %}

  </div>
  <div class="album-info center">
    <a href="{% url 'album' album.idAlbum %}"><p class="album-title flow-text">{{ album.strAlbum }}</p></a>
    <a href="{% url 'artist' album.idArtist %}"><p class="album-artist flow-text">{{ album.strArtist }}</p></a>
    
    <div class="album-btns-small container">
      <form action="{% url 'nominations' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="newnom" value="{{ album.idAlbum }}"><i class="material-icons purple-text">stars</i><a class="hover-btn">nominate</a></button>        
      </form>

      <a class="hover-btn" href="{% url 'album' album.idAlbum %}"><i class="material-icons blue-text">music_note</i> view</a>
    </div>
  </div>
</div>

{% empty %}
<div class="container">
  <div class="center">
    <h5 class="purple lighten-2">Your search did not return any results.</h5>
  </div>
    <ul id="nom-tips" class="browser-default flow-text">
      <li>Double check your spelling, including spaces</li>
      <li>Are you missing 'The'?</li>
      <li>Switch your search category: search for artist instead of album, or an album instead of an artist</li>
    </ul>
</div>
{% endfor %}
</section>


{% if page_obj %}
<section id="pagination-links" class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3 center">
      <span class="step-links">
        <ul class="pagination text-white">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a><li class="waves-effect"></li>
          {% endif %}
    
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.paginator.count < 10 %}
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
    
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</section>
{% endif %}


<section id="new-search-bar" class="container">
  <div class="row center">
    <h5><a id="new-search"><i class="material-icons">search</i> New Search</a></h5>
  </div>
  <div class="center row search hidden" id="new-search-form">
    <form id="search-query" action="{% url 'search' %}" method="POST">
      {% csrf_token %}
      <div class="input-field col s6 m4 l4">
        <select class="browser-default" name="search-option" required>
          <option value="" disabled selected>Search by...</option>
          <option value="1">Artist</option>
          <option value="2">Album Title</option>
        </select>
      </div>
          
      <div class="input-field col s6 m6 l6">            
        <label for="search"><i class="material-icons left">search</i></label>
        <input id="search" name="search" type="search" required>            
      </div>  

      <div class="input-field col s6 offset-s3 m2 l2">            
        <input id="search-submit" type="submit" class="btn" value="go">       
      </div>  
    </form>
  </div>
</section>


<section id="no-result" class="container">
  <div class="row center">
    <h5><a href="#nom-form" id="custom-nom"><i class="material-icons">star</i> Custom Submission</a></h5>
  </div>
</section>

<section id="nom-form" class="row hidden">
  <div class="container center ">
  <p class="flow-text">Help improve AOTW for everyone by contributing to the database. Please complete all fields as completely as possible.</p>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="input-field col s12">
      <label for="id_strAlbum">Album Title</label>
      {{ form.strAlbum }}
    </div>

    <div class="input-field col s12">
      <label for="id_strArtist">Artist</label>
      {{ form.strArtist }}
    </div>
        
    <div class="input-field col s12">
      <label for="id_strDescriptionEN">Album Description</label>
      {{ form.strDescriptionEN }}
    </div>

    <div class="input-field col s12">
      <label for="id_strAlbumThumb">Album Image URL</label>
      {{ form.strAlbumThumb }}
    </div>

    <div class="input-field col s12">
      <label for="id_intYearReleased">Release Year</label>
      {{ form.intYearReleased }}
    </div>
        
    <div class="input-field col s12">
      <label for="id_strLabel">Label</label>
      {{ form.strLabel}}
    </div>

    <div class="input-field col s12">
      <label for="id_strGenre">Genre</label>
        {{ form.strGenre}}
    </div>

    <div class="center">            
      <input id="custom-nom-submit" type="submit" class="btn" value="Save Album">       
    </div>              
  </form>
</div> 
</section>
   


<script src="{% static 'aotw/search.js' %}"></script>
</div>
{% endblock %}