{% extends "aotw/layout.html" %}

{% block body %}

  <div class="container center row search-bar">
    <form>
      <div class="input-field col s6 m6 l4">
        <select class="browser-default">
          <option value="" disabled selected>Search by...</option>
          <option value="1">Artist</option>
          <option value="2">Album Title</option>
        </select>
      </div>
      <div class="input-field col s6 m6 l6">            
        <label for="search"><i class="material-icons left">search</i></label>
        <input id="search" type="search" required>            
      </div>
      
    </form>
  </div>

  <section class="divider"></section>
  <div class="row">
    <div class="col s12 m6 l4 album-result center">
      <div class="album-art center">
        <a href=""><img class="" src="https://upload.wikimedia.org/wikipedia/en/0/09/The_Strokes_-_Is_This_It_cover.png" alt="album-cover"></a>
      </div>
      <div class="album-info center">
        <a href=""><p class="album-title flow-text">Is This It?</p></a>
        <a href=""><p class="album-artist flow-text">The Strokes</p></a>
        <a href=""><i class="material-icons purple-text">audiotrack</i></a>
        <a href=""><i class="material-icons pink-text">favorite</i></a>
      </div>
    </div>

    <div class="col s12 m6 l4 album-result center">
      <div class="album-art center">
        <a href=""><img class="" src="https://upload.wikimedia.org/wikipedia/en/0/09/The_Strokes_-_Is_This_It_cover.png" alt="album-cover"></a>
      </div>
      <div class="album-info center">
        <a href=""><p class="album-title flow-text">Is This It?</p></a>
        <a href=""><p class="album-artist flow-text">The Strokes</p></a>
        <a href=""><i class="material-icons purple-text">audiotrack</i></a>
        <a href=""><i class="material-icons pink-text">favorite</i></a>
      </div>
    </div>

    <div class="col s12 m6 l4 album-result center">
      <div class="album-art center">
        <a href=""><img class="" src="https://upload.wikimedia.org/wikipedia/en/0/09/The_Strokes_-_Is_This_It_cover.png" alt="album-cover"></a>
      </div>
      <div class="album-info center">
        <a href=""><p class="album-title flow-text">Is This It?</p></a>
        <a href=""><p class="album-artist flow-text">The Strokes</p></a>
        <a href=""><i class="material-icons purple-text">audiotrack</i></a>
        <a href=""><i class="material-icons pink-text">favorite</i></a>
      </div>
    </div>

  <div class="row">
    <div class="col s12 m6 l4 album-result center">
      <div class="album-art center">
        <a href=""><img class="" src="https://upload.wikimedia.org/wikipedia/en/0/09/The_Strokes_-_Is_This_It_cover.png" alt="album-cover"></a>
      </div>
      <div class="album-info center">
        <a href=""><p class="album-title flow-text">Is This It?</p></a>
        <a href=""><p class="album-artist flow-text">The Strokes</p></a>
        <a href=""><i class="material-icons purple-text">audiotrack</i></a>
        <a href=""><i class="material-icons pink-text">favorite</i></a>
      </div>
    </div>


  </div>

    
{% endblock %}